.text-sm {
    -fx-font-size: 13px;
}

.text-base {
    -fx-font-size: 15px;
}

.background-transparent {
    -fx-background-color: transparent;
}

.cursor-hand {
    -fx-cursor: hand;
}

.text-field-md {
    -fx-padding: 10px;
    -fx-font-size: 15px;
}

.primary-button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-primary-text-color;
}

.secondary-button {
    -fx-background-color: -fx-secondary-color;
    -fx-text-fill: -fx-secondary-text-color;
}

.button-md {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.action-button {
    -fx-font-size: 12px;
    -fx-text-fill: -fx-base-background-color;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-color: -fx-base-background-color;
    -fx-border-width: 1px;
}

.action-button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: -fx-base-background-color;
}

.entry-details__title {
    -fx-padding: 10px 10px 10px 5px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-base-background-color;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.section__title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-base-background-color;
}

.section__content {
    -fx-padding: 5 0 5 10;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: -fx-base-background-color
}