.text-field {
    -fx-background-color: lightgray;
    -fx-prompt-text-fill: #6f777d;
    -fx-text-inner-color: -fx-primary-color;
    -fx-label-padding: 10px;
    -fx-font-size:15px;
    -fx-border-radius: 4px;
    -fx-padding: 10px;
}

.button {
    -fx-border-radius: 4px;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fbfcfc;
    -fx-padding: 10px;
    -fx-font-size:15px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.context-menu {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}

.context-menu .menu-item .label {
    -fx-text-fill: white;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu .menu-item .ikonli-font-icon {
    -fx-icon-color: white;
}

.action-button {
    -fx-text-fill: #559aed;
    -fx-background-color: transparent;
}

.ikonli-font-icon {
    -fx-cursor: hand;
}

.background-transparent {
    -fx-background-color: transparent;
}

.cursor-hand {
    -fx-cursor: hand;
}