/*.root, .calendar-page, .weekend-day, .all-day-view > .container > .weekend, .today {*/
/*    -fx-background-color: -fx-secondary-color;*/
/*}*/

/*.title {*/
/*    -fx-font-weight: bold;*/
/*}*/

.text-field {
    -fx-background-color: lightgray;
    -fx-prompt-text-fill: #6f777d;
    -fx-text-inner-color: -fx-primary-color;
    -fx-label-padding: 10px;
    -fx-font-size: 15px;
    -fx-border-radius: 4px;
    -fx-padding: 10px;
}

.primary-button {
    -fx-border-radius: 4px;
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: #fbfcfc;
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.action-button {
    -fx-text-fill: #559aed;
    -fx-background-color: transparent;
}

.ikonli-font-icon {
    -fx-cursor: hand;
}

.background-transparent {
    -fx-background-color: transparent;
}

.cursor-hand {
    -fx-cursor: hand;
}