/* Overriding default CalendarFX styles */

/*
 * --------------------------------------------------------------------------------------------------------------
 * Overriding styles needed by the time scale (01:00, 02:00, .... 24:00).
 */

.time-scale > .time-label {
    -fx-font-size: 1em;
}

.time-scale > .date-label {
    -fx-font-size: 1em;
}

.time-scale > .current-time-label {
    -fx-font-size: 1em;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Overriding styles needed by the day view.
 */

.day-view > .half-hour-line,
.day-view > .full-hour-line {
    -fx-stroke: #c7c7c7;
    -fx-opacity: 0.5;
}

.day-view > .current-time-line {
    -fx-stroke: -fx-primary-color;
}

.day-view > .current-time-circle {
    -fx-stroke: -fx-primary-color;
    -fx-fill: -fx-primary-color;
}

.day-view > .current-time-circle {
    -fx-stroke: none;
    -fx-fill: none;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Overriding styles needed by the WeekDayHeaderView.
 */

.weekday-header-view > .container > .cell {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.weekday-header-view > .container > .today {
    -fx-text-fill: -fx-primary-color;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Overriding styles needed by the AllDayView.
 */

.all-day-view > .container > .today {
    -fx-border-color: transparent transparent -fx-primary-color transparent;
    -fx-background-color: #ebebeb;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed by the weekday view.
 */

.weekday-view.today {
    -fx-background-color: #ebebeb;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Default styles for calendar entries.
 */

.default-style-entry {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1.0;
    -fx-padding: 5 0 0 0;
}

.default-style-entry:selected .label {
    -fx-text-fill: white;
}

/*
 * --------------------------------------------------------------------------------------------------------------
 * Styles needed for calendar types.
 */

.style1-entry .label {
    -fx-text-fill: derive(-style1-color, -50.0%);
}

.style2-entry .label {
    -fx-text-fill: derive(-style2-color, -50.0%);
}

.style3-entry .label {
    -fx-text-fill: derive(-style3-color, -50.0%);
}

.style4-entry .label {
    -fx-text-fill: derive(-style4-color, -50.0%);
}

.style5-entry .label {
    -fx-text-fill: derive(-style5-color, -50.0%);
}

.style6-entry .label {
    -fx-text-fill: derive(-style6-color, -50.0%);
}

.style7-entry .label {
    -fx-text-fill: derive(-style7-color, -50.0%);
}

/*.default-style-entry:dragged {*/
/*    -fx-background-color: lightgrey;*/
/*    -fx-border-color: lightgrey;*/
/*}*/

/*.default-style-entry:dragged .label {*/
/*    -fx-text-fill: black;*/
/*}*/

/*.default-style-entry:dragged-start,*/
/*.default-style-entry:dragged-end {*/
/*    -fx-opacity: 0.5;*/
/*}*/

