* {
    -fx-primary-color: #2A363F; /* black */
    -fx-primary-text-color: #fbfcfc;
    -fx-secondary-color: #d5d5d5; /* grey */
    -fx-secondary-text-color: #fbfcfc;
    -fx-base-background-color: #3bb78f; /* green */
    -fx-base2-background-color: #0bab64;
    -fx-base-background-gradient-color: linear-gradient(to top, -fx-base2-background-color, -fx-base-background-color);
}