* {
    -fx-primary-color: #2A363F; /* black */
    -fx-primary-text-color: #fbfcfc;
    -fx-secondary-color: #d5d5d5; /* grey */
    -fx-secondary-text-color: #4a4a4a;
    -fx-base-color: #3bb78f; /* green */
    -fx-base2-color: #0bab64;
    -fx-base-gradient-color: linear-gradient(to top, -fx-base2-color, -fx-base-color);
}